#back {
    position: fixed;
    top: 5%;
    left: 1%;
    padding: 10px;
    z-index: 10;
}

div#icon {
    background: url(../assets/icon.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 60vh;
    transition-duration: 300ms;
}

main {
    height: 40vh;
    background: var(--main);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    transition-duration: 300ms;
}

body.active div#icon {
    height: 79vh;
}

body.active main {
    height: 21vh;
}

body.active .button {
    opacity: 1;
}

body.active .spacer {
    opacity: 0.7;
}

.button {
    background: var(--background);
    color: var(--main);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition-delay: 300ms;
    transition-duration: 200ms;
}

.spacer {
    display: flex;
    color: var(--background);
    opacity: 0.7;
    width: 80%;
    margin: auto;
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0;
    transition-delay: 300ms;
    transition-duration: 200ms;
}

.spacer hr {
    border: none;
    height: 2px;
    background: var(--background);
    margin: auto 10px;
    width: 100%;
}

#google::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 0 -23px 0px;
    background: url(../assets/google.png) no-repeat;
    background-size: contain;
    background-position: center;
    transform: scale(1.4);
}


#guest::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 0 -23px 0px;
    background: url(../assets/guest.png) no-repeat;
    background-size: contain;
    background-position: center;
    transform: scale(1.4);
}